@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 0%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 0%;
    --primary: 0 0% 0%;
    --primary-foreground: 0 0% 100%;
    --secondary: 39 43% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 39 43% 95%;
    --muted-foreground: 0 0% 50%;
    --accent: 35 100% 71%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 85%;
    --input: 0 0% 85%;
    --ring: 0 0% 0%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 10%;
    --foreground: 0 0% 95%;
    --card: 0 0% 13%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 13%;
    --popover-foreground: 0 0% 95%;
    --primary: 35 100% 71%;
    --primary-foreground: 0 0% 0%;
    --secondary: 0 0% 20%;
    --secondary-foreground: 0 0% 95%;
    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 75%;
    --accent: 0 0% 0%;
    --accent-foreground: 0 0% 95%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 30%;
    --input: 0 0% 30%;
    --ring: 35 100% 71%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
